*.o
*.obj
*.exe
*.pdb
*.ilk
*.dll
*.lib
*.a
.dub/
dub.selections.json
.exe
.ilk
.pdb
.obj
antfarm_test*
!antfarm_test.d
/antfarm
grant_lock_pages
review_torture/torture_tests
review_torture/torture_tests_tsan
review_torture/torture_tests_dmd
review_torture/t19
review_torture/t19_tsan
review_torture/t19_dmd
review_torture/last_run.log
perftest/throughput
perftest/digest
perftest/tail
perftest/dual
perftest/throughput_eager
perftest/throughput_sd64
